@font-face {
    font-family: digital-clock-font;
    src: url('../../public/digital-7.regular.ttf');
}

@font-face {
    font-family: space-grotesk;
    src: url('../../public/SpaceGrotesk-Medium.ttf');
}

body {
    background-color: #222;
    font-family: space-grotesk;
}


/* marquee used for the digital screen */

marquee {
    font-family: digital-clock-font;
    font-size: 60px;
    color: #00FF66;
    height: fit-content;
    padding: 20px;
    -webkit-box-shadow: inset 0 0 10px white;
    -moz-box-shadow: inset 0 0 10px white;
    box-shadow: inset 0 0 10px white;
    border-radius: 5px;
    flex-grow: 1;
    margin-inline: 5%;
}

/* TV Screen CSS */

#container {
    max-width: 1024px;
    margin: auto;
}

#monitor {
    background: #000;
    position: relative;
    border-top: 3px solid #888;
    margin: 3%;
    padding: 2% 2% 4% 2%;
    border-radius: 10px;
    border-bottom-left-radius: 50% 2%;
    border-bottom-right-radius: 50% 2%;
    transition: margin-right 1s;
}

#monitor:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 3%;
    left: 36%;
    height: .5%;
    width: 28%;
    background: #ddd;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 white;
}

#background {
    background: #000;
    position: relative;
    border-top: 3px solid #888;
    margin: 1%;
    height: fit-content;
    padding: 1% 1% 2% 1%;
    border-radius: 10px;
    transition: margin-right 1s;
}

#monitorscreen {
    position: relative;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 56.25vh;
    position: relative;
    overflow: hidden;
}

/* TV Static */

#static {
    background-image: url("../../public/noise.jpg");
    overflow: hidden;
    inset: -200%;
    animation: animate .5s steps(10) infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 100%;
    }
}

/* Buttons */

.but {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    margin-inline: 5%;
}

.button {
    text-decoration: none;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:before {
    content: "";
    background: white;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
}


.button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Animations for buttons, background and card */


@media all and (min-width: 960px) {

    #monitor,
    #background,
    .card {
        -webkit-animation: tvflicker .2s infinite alternate;
        -moz-animation: tvflicker .5s infinite alternate;
        -o-animation: tvflicker .5s infinite alternate;
        animation: tvflicker .5s infinite alternate;
    }

    @-webkit-keyframes tvflicker {
        0% {
            box-shadow: 0 0 100px 0 rgba(200, 235, 255, 0.4);
        }

        100% {
            box-shadow: 0 0 95px 0 rgba(200, 230, 255, 0.45);
        }
    }

    @-moz-keyframes tvflicker {
        0% {
            box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
        }

        100% {
            box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
        }
    }

    @-o-keyframes tvflicker {
        0% {
            box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
        }

        100% {
            box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
        }
    }

    @keyframes tvflicker {
        0% {
            box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
        }

        100% {
            box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
        }
    }
}

/* Card */

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.card {
    border-radius: 10px;
    width: 400px;
    height: fit-content;
    background-color: #111;
    color: white;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 95%;
    text-align: center;
}

.card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #00FF66;
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}


.card h2,
h4 {
    padding: 2% 0;
}